:root {
  --bit-black: #111;
  --bit-white: #fff;
  --bit-purple: #5c5cff;
  --bit-gray: #d1d5db;
  --bit-cursor-small: "./cursor-1-1.png";
  --bit-cursor-biger: "./cursor-5-5.png";
  --bit-main-shadow: 0px 0px 0.2rem 0px var(--bit-gray);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--bit-black);
  --color-text: var(--bit-white);
  --color-headings: var(--bit-purple);
  --color-paragraphs: var(--bit-gray);
}

.scrollDown {
  width: 45px;
  height: 70px;
  border: 2px solid var(--bit-white);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scrollDown span {
  background-color: var(--bit-white);
  width: 5px;
  height: 10px;
  border-radius: 30px;
  margin-top: -30px;
  position: relative;
}

.scrollDown span::before {
  content: "";
  position: absolute;
  left: -5px;
  width: 15px;
  height: 15px;
  border: none;
  border-right: 2px solid var(--bit-white);
  border-top: 2px solid var(--bit-white);
  transform: translateY(-10px) rotate(135deg);
  margin-top: 10px;
  opacity: 0;
  animation: ani 1.8s infinite linear;
}

.scrollDown span::after {
  content: "";
  position: absolute;
  left: -5px;
  width: 15px;
  height: 15px;
  border: none;
  border-right: 2px solid var(--bit-white);
  border-top: 2px solid var(--bit-white);
  transform: translateY(-10px) rotate(135deg);
  margin-top: 10px;
  opacity: 0;
  animation: ani 1.8s infinite linear;
  animation-delay: 0.8s;
}

@keyframes ani {
  0% {
    margin-top: 10px;
    opacity: 0;
  }
  50% {
    margin-top: 25px;
    opacity: 1;
  }
  100% {
    margin-top: 40px;
    opacity: 0;
  }
}

/* size 2 */
/* .scrollDown {
  width: 25px;
  height: 40px;
  border: 2px solid var(--bit-white);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scrollDown span {
  background-color: var(--bit-white);
  width: 3px;
  height: 8px;
  border-radius: 30px;
  margin-top: -15px;
  position: relative;
}

.scrollDown span::before {
  content: "";
  position: absolute;
  left: -2px;
  width: 7px;
  height: 7px;
  border: none;
  border-right: 2px solid var(--bit-white);
  border-top: 2px solid var(--bit-white);
  transform: translateY(-5px) rotate(135deg);
  margin-top: 5px;
  opacity: 0;
  animation: ani 1.8s infinite linear;
}

.scrollDown span::after {
  content: "";
  position: absolute;
  left: -2px;
  width: 7px;
  height: 7px;
  border: none;
  border-right: 2px solid var(--bit-white);
  border-top: 2px solid var(--bit-white);
  transform: translateY(-5px) rotate(135deg);
  margin-top: 5px;
  opacity: 0;
  animation: ani 1.8s infinite linear;
  animation-delay: 0.8s;
}

@keyframes ani {
  0% {
    margin-top: 10px;
    opacity: 0;
  }
  50% {
    margin-top: 20px;
    opacity: 1;
  }
  100% {
    margin-top: 25px;
    opacity: 0;
  }
} */
