@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "./base.css";

html {
    cursor: auto;
    scroll-behavior: smooth;
}
a:hover {
    cursor: pointer;
}
body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    font-family: "Poppins", serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    letter-spacing: 10%;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    max-width: 1366px;
    width: 100%;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-headings);
    font-weight: bold;
    text-transform: uppercase;
}

.nav-item {
    --b: 0.125em; /* the thickness of the line */
    --c: var(--bit-purple); /* the color */
    padding: 0.25em calc(var(--b) * 1.5);
    /* padding-block: var(--b); */
    background:
        linear-gradient(var(--c) 50%, var(--bit-white) 0) 0% calc(100% - var(--_p, 0%)) / 100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition:
        0.3s var(--_s, 0s) linear,
        background-size 0.3s calc(0.3s - var(--_s, 0s)),
        border 0.3s var(--_s, 0s);
}

.nav-item:hover {
    --_p: 100%;
    --_s: 0.3s;
    color: var(--bit-purple);
}

.nav-item.active {
    border-bottom: 2px solid var(--bit-purple);
}
section:not(:first-of-type) > h2::before {
    content: "#";
    margin-inline-end: 1rem;
    color: var(--color-stone-500);
}
